*{
    margin: 0;
    padding: 0;
}

body{
    background: #ecf1f4;
}

.form-wrap{
    width: 320 px;
    background: #3e3d3d;
    padding: 40px 20px;
    box-sizing: border-box;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -1%);
    
}

h1{
    text-align: center;
    color: #fff;
    font-weight: normal;
}

input{
    width: 100%;
    background: none;
    border: 1px solid #bac675;
    border-radius: 3px;
    padding: 6px 20px;
    box-sizing: border-box;
    margin: 20px;
    font: 16px;    
}

input[type="button"]{
    background: #bac675;
    border: 0;
    cursor: pointer;
    font: #fff;
}

::placeholder{
    color: #fff;
}


.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}